<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/strDir']" routerLinkActive="active">Structural Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/attrDir']" routerLinkActive="active">Attribute Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/customDirHost']" routerLinkActive="active">Custom Directives</a>
          </li>
          
        </ul>
      </div>
  
    </div>
  </nav>
